.portada{
    position: relative;
    img {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
    .contenido {
        position: absolute;
        top: 100px;
        left: 50px;
        color: white;
        h1{
            font-size: $titulo;
            text-shadow: $sombra-texto;
        }
        p{
            font-size: $titulo;
            text-shadow: $sombra-texto;
        }
        button{
            padding: 5px 20px;
            font-size: 24px;
            border: none;
            margin: 10px;
            background-color: $bg-color;
            color: white;
            border-radius: 5px;
        }
    }
}

@media(max-width:800px){
    .portada{
        img{
            height: 300px;
        }
        .contenido{
            h1{
                font-size: 48px;
            }
            p {
                font-size: 24px;
            }
            button{
                font-size: 20px;
            }
        }
    }
}
@media(max-width:550px){
    .portada .contenido{
        h1{
            font-size: 24px;
        }
        p{
            font-size: 20px;
        }
    } 
}
