.titulo-destacados{
    margin: 10px;
    
}

.tarjeta-destacada{
    width: 460px;
    margin: 10px;
    img {
        width: 200px;
        height: 120px;
        object-fit: cover;
    }
    .contenido button{
        width: 100px;
        padding: 5px 20px;
        border: none;
        margin: 10px;
        background-color: $bg-color;
        color: white;
        border-radius: 5px;
}
}

@media(max-width:576px){

    .tarjeta-destacada{
        width: 250px;
        img{
            width: 100%;
        }
    }
}

