*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: blue;
}
.padre{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 100px 0px;
    

}
.hijo4{
    justify-self: start;
    align-self: end;
}
.padre2{
    display: grid;
    grid-template-columns: repeat(6,1fr);

    gap: 10px;
}
